@value colors: '../colors.css';
@value lightblue, yellow, offwhite, white, darkgray, lightyellow, whiteblue from colors;

.Skills {
  background-color: white;
  color: black;
  padding: 0 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  h1 {
    text-shadow: 0.025rem 0.025rem 0 darkgray, 0.025rem -0.025rem 0 darkgray, -0.025rem 0.025rem 0 darkgray, -0.025rem -0.025rem 0 darkgray, 0.025rem 0px 0 darkgray, 0px 0.025rem 0 darkgray, -0.025rem 0px 0 darkgray, 0px -0.025rem 0 darkgray;
    color:lightblue;

  }

  .skillsHeading {
    font-weight: bold;
    margin: 0;
    padding: 1rem 0 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;


  }

  .SkillList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    background-color: whiteblue;
    justify-content: center;
    padding: 1rem;
    border-radius: 1rem;

    ul{
      list-style-type: none;
      display: inline;
      justify-content: center;

    }

    li {
      display: flex;
      text-align: center;
      flex-direction: column;
      padding: 10px;
      justify-content: center;
      color: darkgray;

      > div {
        width: 100%;
        height: 100%;
        display: block;
        margin: 0;
        justify-content: center;
        color: offwhite;
        border-radius: 0.75rem;

        img{
          max-height: 40px;
          width: auto;
        }
      }
    }
  }
}
