@value colors: '../colors.css';
@value lightblue, yellow, offwhite, white from colors;

.About {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: black;
  color: white;
  min-height: 100vh;
  height: auto;
  padding: 4rem 0.5rem;
  min-height: 100vh;
  margin: auto;

  header {

    h1 {
      margin: auto;
      text-align: center;
      font-size: 3rem;
    }
  }

  main{
    display: grid;
    grid-template-columns: 3fr 2fr;

    section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    }

    figure {
      padding: 2rem;
      img {
        border-radius: 50%;
        max-width: 100%;
      }
    }
  }
}
