@value colors: '../colors.css';
@value lightblue, yellow, offwhite, white from colors;
.About {
  position: relative;
  height: auto;
  min-height: 100vh;
  padding: 1rem 2rem;
}

@media screen and (max-width: 600px){
  .About {
  display: flex;
  flex-direction: column;
  top: 140px;

  p {
    color: offwhite;
  }
  header {

    h1 {
      margin: auto;
      text-align: center;
      font-size: 1.5rem;
      position: relative;
      padding-top: 1rem;
    }
  }

  main{
    display: block;
    margin-bottom: 5rem;
    section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    }

    figure {
      padding: 1rem;
      display: block;
      img {
        border-radius: 50%;
        max-width: 50px;
      }
    }
  }
}
}
@media screen and (min-width: 600px){
  .About {
    display: block;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    color: white;
    background: black;
    min-height: 100vh;
    top: 4.25rem;

    header {

      h1 {
        margin: auto;
        text-align: center;
        font-size: 3rem;
        padding-top: 2rem;
      }
    }

    main{
      display: grid;
      grid-template-columns: 3fr 1fr;

      section{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      }

      figure {
        padding: 1rem;

        img {
          border-radius: 50%;
          max-width: 150px;
        }
      }
    }
  }
}
