@value colors: '../colors.css';
@value lightblue, yellow, offwhite, white, darkgray from colors;

.Contact{
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  font-size: 1.5rem;

  h1 {
    text-shadow: 2px 2px 0 lightblue, 2px -2px 0 lightblue, -2px 2px 0 lightblue, -2px -2px 0 lightblue, 2px 0px 0 lightblue, 0px 2px 0 lightblue, -2px 0px 0 lightblue, 0px -2px 0 lightblue;
    color: darkgray;
  }

  .hiringStatus {
    max-width: 60%;
  }

  .tagline {
    color: yellow;
    background-color: darkgray;
  }

  .social {
    display: block;
    text-align: left;
    max-width: 480px;
  }
}
