@value colors: './colors.css';
@value lightblue, yellow, offwhite, white, darkgray from colors;

body {
  margin: 0;
  padding: 0;
  background-color: darkgray;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
}

.App {
  margin: 0;
  padding: 0;

  > div > header{
    display:flex;
  }

  a {
    text-decoration: none;
    color: lightblue;
    transition-timing-function: ease;
    transition-duration: 1s;
    transition-property: color;

    .active {
      color: offwhite;
    }

    &:active, &:hover {
      color: yellow;
      cursor: pointer;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Fira Code', serif;
  }
  h1 {
    font-size: 2.6rem;
    color: lightblue;
}
  h2 {
    font-size: 1.8rem;
  }

  p {
    font-family: 'Proza Libre', sans-serif;
  }

  .section {
    min-height: 100vh;
    height: auto;
    padding: 0 0.5rem;
  }
}
