body {
  margin: 0;
  padding: 0;
  background-color: black;
}

.App {
  margin: 0;
  padding: 0;

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Cormorant Garamond', serif;
  }

  body, p {
    font-family: 'Proza Libre', sans-serif;
  }

  .section {
    min-height: 100vh;
    height: auto;
    padding: 0 0.5rem;
  }

  .About, .Contact {
    background-color: black;
    color: white;
    min-height: 100vh;
    height: auto;
    padding: 0 0.5rem;
  }

  .Skills {
    background-color: white;
    color: black;
    padding: 0 0.5rem;

    ul{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      list-style-type: none;

      li {
        display:flex;
        text-align: center;
        flex-direction: column;
        padding: 0 10px 0 0;

        div {
          width: 100%;
          height: 100%;

          img{
            height: 50px;
            width: auto;
          }
        }
      }
    }
  }
}
