@value colors: '../colors.css';
@value lightblue, yellow, offwhite, white, darkgray from colors;

.Header{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  position: fixed;
  background-color: RGBA(0,0,0,0.4);
  width: 100%;

  .Logo {
    font-family: 'Play', sans-serif;
    line-height: 1em;
    color: white;
    margin: 0;
    padding: 0.5rem 0.75rem;

    strong {
    font-size: 2rem;
    font-weight: bold;
    font-style: normal;
    position: relative;
    display: inline-block;
    transition-timing-function: ease;
    transition-duration: 1s;
    transition-property: color;
    text-transform: lowercase;
    color: #37e8fd;
    }

    strong:hover {
      color: #d7ffff;
    }

    b {
    font-size: 2rem;
    font-weight: 700;
    position: relative;
    z-index: 10;
    transition-timing-function: ease;
    transition-duration: .7s;
    transition-property: color;
    color: #bafd31;
    }

    > b:hover {
      color: #d7ffff;
    }
    .dev {
      font-size: 16px;
      color: offwhite;
    }
  }

  .Nav{
    ul{
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      list-style-type: none;
      justify-content: center;

      li {


        a {
          text-decoration: none;
          color: lightblue;
          padding: 0 1rem;

          &.active {
            color: darkgray;
            background-color: offwhite;
          }

          &:active, &:hover {
            color: yellow;
            cursor: pointer;
          }
        }
      }
    }
  }
}
